<footer>
    {{#if debug}}
        <div class="bg-secondary">
            <div class="container">
                <div class="p-3">
                    <p>Session: <span>{{session}}</span></p>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 col-xl-4 d-flex align-items-center">
                <span class="text-muted"><a href="https://t.me/blackseageo">@BlackSeaGeo</a></span>
            </div>

            <div class="col-12 col-xl-4 d-flex align-items-center justify-content-center">
                <a href="/support" class="text-muted">Поддержать проект</a>
            </div>


            <ul class="nav col-12 col-xl-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="https://t.me/sprudzans">
                        <i class="bi bi-telegram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.instagram.com/a_sprudzans/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.facebook.com/sprudzans.98">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</footer>
