<ul class="list-group">
    <li class="list-group-item">
        <a href="/admin">Главная</a>
    </li>
    <li class="list-group-item">
        <a href="/admin/users">Пользователи</a>
    </li> 
    <li class="list-group-item">
        <a href="/admin/posts">Записи</a>
    </li>
</ul>