<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/posts?type=articles&category=products">Продукты</a>
        <a class="p-2 link-secondary" href="/posts?type=articles&category=home">Жилье</a>
        <a class="p-2 link-secondary" href="/posts?type=articles&category=money">Деньги</a>
        <a class="p-2 link-secondary" href="/posts?type=articles&category=transport">Транспорт</a>
        <a class="p-2 link-secondary" href="/posts?type=articles&category=other">Жизнь</a>
        <a class="p-2 link-secondary" href="/map">Карта</a>
        <a class="p-2 link-secondary" href="/posts?type=offers">Аренда</a>
        <a class="p-2 link-secondary" href="/posts?type=vacancies">Вакансии</a>
        <a class="p-2 link-secondary" href="/posts?type=services">Услуги</a>
        <a class="p-2 link-secondary" href="/faq">Полезные ресурсы</a>
    </nav>
</div>