<div class="d-flex justify-content-end my-2">
    <a class="btn btn-primary"
       href="/posts/new?type={{type}}&category={{category}}">
        Добавить запись
    </a>
</div>

<div class="row">
    <div class="col col-xl-9">
        {{> postList }}
    </div>
    <div class="col col-xl-3">
        {{>sidebar}}
    </div>
</div>

