<h3>❗️ПОЛЕЗНЫЕ РЕСУРСЫ ПО ГРУЗИИ</h3>

<h4>
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
    💬Каналы
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
</h4>
<p>
    ✔️<a target="_blank" href="https://t.me/mybatumi_info">Инфопортал My Batumi</a>
</p>
<p>
    ✔️<a target="_blank" href="https://t.me/ads_ge">Доска обьявлений. Грузия</a>
</p>
<p>
    ✔️<a target="_blank" href="https://t.me/learn_geo">Учим грузинский</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/around_batumi">Отдых "Вокруг Батуми"</a>
</p>
<p>
    ✔️<a target="_blank" href="https://t.me/apartments_ge">Долгосрочная аренда и продажа недвижимости в Грузии 🏡</a>
</p>
<h4>
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
    💬Общие чаты
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
</h4>
<p>

    ✔️<a target="_blank" href="https://t.me/mybatumi_chat">БАТУМИ 🇬🇪 ЧАТ</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/mytbilisi_chat">ТБИЛИСИ 🇬🇪 ЧАТ</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/kutaisi_chat">КУТАИСИ 🇬🇪 ЧАТ</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/mygeorgia_chat">ГРУЗИЯ 🇬🇪 ЧАТ</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/vlars_chat">Чат КПП "Верхний Ларс"</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/sarpi_chat">Чат КПП Сарпи. Грузия-Турция</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/expats_ge">Англоязычный чат</a>
</p>
<h4>
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
    💬Тематические чаты
    〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
</h4>
<p>
    ✔️<a target="_blank" href="https://t.me/joinchat/rTzPTuqGPBY5YzEy">Батуми Шопинг🛍</a> <br>
    ✔️<a target="_blank" href="https://t.me/joinchat/9KFl3ehClfY5M2Zi">Тбилиси Шопинг🛍</a>

</p>

<p>

    ✔️<a target="_blank" href="https://t.me/baraholka_ge">Батуми Барахолка 🧦</a> <br>
    ✔️<a target="_blank" href="https://t.me/joinchat/omTCvZ44sWMzZTg6">Тбилиси Барахолка 🧦</a>

</p>
<p>

    ✔️<a target="_blank" href="https://t.me/expats_batumi">Батуми Сходки🍷🃏</a> <br>
    ✔️<a target="_blank" href="https://t.me/gameintbilisi">Тбилиси Сходки🍷🃏</a>

</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/hf4dMYRPhdQ0Y2Ey">Батуми Здоровье и красота 🌱</a> <br>
    ✔️<a target="_blank" href="https://t.me/joinchat/WqBU6RDiukcwM2Ri">Тбилиси Здоровье и красота 🌱</a>
</p>
<p>
    ✔️<a target="_blank" href="https://t.me/joinchat/hyp8gh1tjYIxZDE6">Батуми Женский чат 🌷</a> <br>
    ✔️<a target="_blank" href="https://t.me/joinchat/eMyogpY7-B82OTBi">Тбилиси Женский чат 🌷</a>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/tXiTvfZtK3I3ZGQy">Осознанная Грузия 🙏</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/_xPgpHKuEEM1ZGFi">👫Пока без пары ❤️ Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/corona_ge"> Коронавирус Грузия 🦠</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/pets_ge">В Грузии с животными🐱</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/0NiRP1yYVfY0OTQy"> В Грузии с авто 🚗</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/TLTkAeW-rOM0NTVi">В Грузии с детьми 👶</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/BgsiJYA12Mc5OGMy">Клуб путешественников 🇬🇪</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/jobs_ge">Вакансии 🔎Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/y40a6MlXC-Y1ZjIy">Бизнес 💰 Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href=" https://t.me/joinchat/juxS0J1cRFE1NDMy">Буккроссинг 📚 Батуми</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/66IhZ_Lm4dU4YTZi">Посылки 📦 Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/health_ge">Медицина 💊 Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/+IMN-waUlESxkYzYy">IT-чат 💻 Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/ggL4qbV6x8o1Mjhi">Крипточат ₿ Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/+OnOXJgJsKko5NmIy">Музыкальный чат 🎸 Грузия</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/mytbilisi_apartments">Квартиры 🏡 Тбилиси</a>
</p>
<p>

    ✔️<a target="_blank" href="https://t.me/joinchat/p-X0QfQaxI43ODM6">Ремонт и строительство 🏗Батуми</a>
</p>
<p>

    ✔️<a target="_blank" href="http://https://t.me/food_ge">Рестораны 🥂 Батуми</a>
</p>

〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
<h4>🔎Facebook</h4>
<p>
    ✔️<a target="_blank" href="https://www.facebook.com/mybatumi.info/">Страница "My Batumi"</a> <br>
    ✔️<a target="_blank" href="https://www.facebook.com/groups/mybatumi/?ref=share">Группа "Экспаты Батуми"</a>
</p>

<h4>📸 Instagram </h4>
<p>
    <a target="_blank" href="https://instagram.com/mybatumi">@mybatumi</a>
</p>

〰️〰️〰️〰️〰️〰️〰️〰️〰️〰️
<p>
    ⚠️<a target="_blank" href="https://telegra.ph/BATUMI--CHAT-01-31">Правила чатов</a>
</p>
