<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col col-xl-8 px-0">
        <h1 class="display-4 fst-italic">Вы можете поддержать проект</h1>
        <p class="lead my-3">Проект "Black Sea Georgia" создан как бесплатный и открытый портал, чтобы сформировать всю доступную актуальную информацию для местных и гостей города</p>
        <p class="lead mb-0"><a href="/support" class="text-white fw-bold">Подробнее</a></p>
    </div>
</div>

{{>postList}}

<div class="row g-5">
    <div class="col col-xl-9">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            От разработчиков
        </h3>

        <article class="blog-post">
            <h2 class="blog-post-title">Помощь всегда кстати</h2>
            <p class="blog-post-meta">21 марта, 2022 от <a href="#">@sprudzans</a></p>

            <p>Данный проект сможет существовать, только при совместных усилиях экспатов и местных. Если вы заинтересованы в проекте и хотели бы помочь в его развитии, пожалуйста напишите мне в
                <a href="https://www.facebook.com/sprudzans.98">Facebook</a> или <a href="https://t.me/sprudzans">Telegram</a>. Спасибо!</p>
        </article>
    </div>

    <div class="col col-xl-3">
        {{>sidebar}}
    </div>
</div>