<main>
    <h1>Проект "Black Sea Georgia"</h1>
    <p class="fs-5 col col-xl-8">Вы можете поучаствовать в развитии портала, для этого напишите мне в <a
            href="https://t.me/sprudzans">Telegram</a> или <a href="https://www.facebook.com/sprudzans.98">Facebook</a>.
        А также вы можете перевести небольшую сумму поддержки для скорейшего развития платформы</p>
    <div class="mb-5">
        <a href="https://www.paypal.me/sprydzans" class="btn btn-primary px-4" target="_blank">Поддержать через
            PayPal</a>
    </div>
</main>